.dark-mode {
    background-color: rgb(1, 1, 19);
    color: white;
}

.navbar-light-mode{
    background-color: #202020;
    color: white;
}

.footer-dark-mode{
    background-color: rgb(1, 1, 19);
    color: white;
}